@page "/home"



<PageTitle>Home</PageTitle>


    <h3
      class=" font-extrabold text-5xl text-blue-800 relative ">
      Hello, world!
    </h3>
<br />
<button class="px-8 py-4 bg-red-400">Hola </button>
<button class="px-8 py-4 bg-rose-400 rounded-md text-white font-semibold font-sans relative overflow-hidden
               group 
               hover:text-white // Asegurar que el texto permanezca blanco
               transition-all duration-700
               [text-shadow:3px_5px_2px_#be123c;] hover:[text-shadow:2px_2px_2px_#fda4af] text-2xl">
    <span class="relative z-10">Soy un botón</span> 
    <span class="absolute inset-0 bg-rose-800 z-0 
                 transform scale-x-0 origin-left transition-transform duration-700
                 group-hover:scale-x-100">
    </span>
</button>


<br />
<br />




@code{ 
  
}

